/* Configuração do css grid */
body {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 64px 1fr 64px;
    grid-template-areas:
        "header header"
        "sidebar content"
        "sidebar footer";
    height: 100vh;
    margin: 0;
    background-color: #ddd;
}

/* Quando a classe for aplicada no body, faz com que suma o sidebar(menu)*/
body.hide-sidebar {
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "content"
        "footer";
}

body.hide-sidebar aside.sidebar {
    display: none;
}

header.header {
    grid-area: header;
    display: flex;
    background-color: #1976d2;
    align-items: center;
    z-index: 10;
    box-shadow:
        0 2px 4px -1px rgba(0, 0, 0, .2),
        0 4px 4px 0px rgba(0, 0, 0, .14),
        0 1px 10px 0px rgba(0, 0, 0, .12);
}

header.header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 2rem;
    flex-basis: 250px;
    height: 64px;
}

header.header .menu-toggle {
    color: #ffffff;
    cursor: pointer;
}

header.header .spacer {
    flex-grow: 1;
}

header.header .dropdown {
    position: relative;
    height: 100%;
}

header.header .dropdown:hover {
    background-color: rgba(0, 0, 0, .1);
    transition: 0.10s;
}

header.header .dropdown-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.1rem;
    color: #ffffff;
    cursor: pointer;
}

header.header .dropdown-content {
    display: none;
    position: absolute;
    min-width: 100%;
    background-color: #f9f9f9;
    padding: 15px 0px;
    z-index: 100;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .2);
}

header.header .dropdown:hover .dropdown-content {
    display: block;
}

header.header .dropdown-content ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

header.header .dropdown-content a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #222222;
    padding: 7px;
    font-size: 1.1rem;
}

header.header .dropdown-content a:hover {
    background-color: rgba(0, 0, 0, .05);
    transition: 0.10s;
}

aside.sidebar {
    grid-area: sidebar;
}

main.content {
    grid-area: content;
}

footer.footer {
    grid-area: footer;
}