/* Configuração do css grid */
body {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 64px 1fr 64px;
    grid-template-areas:
        "header header"
        "sidebar content"
        "sidebar footer";
    height: 100vh;
    margin: 0;
    background-color: #ddd;
}

/* Quando a classe for aplicada no body, faz com que suma o sidebar(menu)*/
body.hide-sidebar {
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "content"
        "footer";
}

body.hide-sidebar aside.sidebar {
    display: none;
}

header.header {
    grid-area: header;
    display: flex;
    background-color: #1976d2;
    align-items: center;
    z-index: 10;
    box-shadow:
        0 2px 4px -1px rgba(0, 0, 0, .2),
        0 4px 4px 0px rgba(0, 0, 0, .14),
        0 1px 10px 0px rgba(0, 0, 0, .12);
}

header.header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 2rem;
    flex-basis: 250px;
    height: 64px;
}

header.header .menu-toggle {
    color: #ffffff;
    cursor: pointer;
}

header.header .spacer {
    flex-grow: 1;
}

header.header .dropdown {
    position: relative;
    height: 100%;
}

header.header .dropdown:hover {
    background-color: rgba(0, 0, 0, .1);
    transition: 0.10s;
}

header.header .dropdown-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.1rem;
    color: #ffffff;
    cursor: pointer;
}

header.header .dropdown-content {
    display: none;
    position: absolute;
    min-width: 100%;
    background-color: #f9f9f9;
    padding: 15px 0px;
    z-index: 100;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .2);
}

header.header .dropdown:hover .dropdown-content {
    display: block;
}

header.header .dropdown-content ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

header.header .dropdown-content a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #222222;
    padding: 7px;
    font-size: 1.1rem;
}

header.header .dropdown-content a:hover {
    background-color: rgba(0, 0, 0, .05);
    transition: 0.10s;
}

aside.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: sidebar;
    box-shadow: -5px 0px 25px 1px rgba(0, 0, 0, 0.4);
    background-color: #ffffff;
}

aside.sidebar .menu {
    width: 100%;
    flex-grow: 1;
}

aside.sidebar .menu ul.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

aside.sidebar .menu li.nav-item {
    margin: 0;
    padding: 10px 0px 10px 25px;
}

aside.sidebar .menu li.nav-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

aside.sidebar .menu li.nav-item a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #555555;
}

aside.sidebar .sidebar-widgets {
    position: sticky;
    bottom: 20px;
}

aside.sidebar .sidebar-widget {
    display: flex;
    align-items: center;
}

.division {
    widows: 80%;
    border: solid 1px #eeeeee;
}

aside.sidebar .sidebar-widget .icon {
    font-size: 3.4rem;
    margin: 2px 10px 2px 0;
}

aside.sidebar .sidebar-widget .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

aside.sidebar .info .main {
    font-size: 2rem;
}

main.content {
    grid-area: content;
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
}

main.content .content-title {
    display: flex;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 1px solid #cccccc;
}

main.content .content-title .icon {
    font-size: 3rem;
}

main.content .content-title h1 {
    color: #444444;
    font-size: 1.8rem;
    font-weight: 300;
    margin: 0;
}

main.content .content-title h2 {
    color: #848484;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0;
}

footer.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    font-size: 1.2rem;
    background-color: #222222;
    color: #ffffff;
}

.record {
    font-size: 2.2rem;
}